button:hover {
  background-color: orchid;
  transition: 0.5s;
}

#output {
  font-size: large;
}

#error {
  display: none;
}

.jumbotron {
  margin: 0px;
  text-align: center;
  background-image: linear-gradient(to bottom right,rgb(55, 211, 231),rgb(13, 207, 143));
  transition: 0.8s;
}

.jumbotron:hover {
  background-image: linear-gradient(to bottom,rgb(55, 211, 231),rgb(13, 207, 143));
  transition: 0.8s;
}

#rodgers-banner {
  background-image: url(../img/rodgers.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

#rodgers-banner:hover {
  background-size: 102%;
  transition: 0.8s;
}

#quote {
  margin-top: 40px;
  max-width: 500px;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

#rodgers-letter {
  display: none;
  font-family: cursive;
}

#footer {
  display: flex;
  align-items: center;
}


img {
  width: 300px;
  height: auto;
  border-radius: 100%;
  margin: 10px;
}

img:hover {
  box-shadow: 10px 10px 10px;
  transition: 0.5s;
}

form {
  margin-top: 60px;
  max-width: 300px;
}