@media screen and (max-width: 855px) {
  body {
    width: 855px;
  }
}

.jumbotron {
  margin: 0px;
  text-align: center;
  background-image: linear-gradient(to bottom,rgb(55, 211, 231),rgb(13, 207, 143));
}

#output {
  font-size: large;
}

#error {
  display: none;
}

#rodgers-banner {
  background-image: url(../img/rodgers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: auto;
}

#quote {
  margin-top: 40px;
  max-width: 500px;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

#rodgers-letter {
  display: none;
  font-family: cursive;
}

#footer {
  background-color: grey;
}

#footer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

img {
  width: 300px;
  height: auto;
  border-radius: 100%;
  margin: 10px;
}

img:hover {
  box-shadow: 10px 10px 10px;
  transition: 0.5s;
}

form {
  margin-top: 60px;
  margin-bottom: 10px;
  max-width: 300px;
}

button:hover {
  background-color: orchid;
  transition: 0.5s;
}